
.height-100vh {
  height: 50vh;
  background: lightgrey;
}

.center-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-image {
  opacity: .9;
  width: 100%;
  object-fit:cover; 
  height: 100%;
}

.text {
  position: absolute;
  color: white;
  font-family: 'Bangers', cursive;
  background: black;
  padding: 20px;
  font-size: 120px;
}
