/*help from: https://www.sliderrevolution.com/resources/css-text-animation/*/
.height-100vh {
  height: 50vh;

}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;

}

body {
  background: black;
}

.images {
  opacity: .9;
  width: 100%;
  object-fit:cover; 
  height: 100%;

}

.text {
  position: absolute;
  font-family: 'Bangers', cursive;
  padding: 20px;
  font-size: 120px;
  /*background-image: url(https://media.giphy.com/media/3og0IV7MOCfnm85iRa/giphy-downsized-large.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 200px;
  line-height: .75;
  margin: 10px 0;*/
  background-color: black;
  color: white;
}

.text2 {
  position: absolute;
  color: white;
  font-family: 'Supermercado One', cursive;
  background: black;
  padding: 20px;
  font-size: 120px;
  
}

.text3 {
  position: absolute;
  color: white;
  font-family: 'Allan', cursive;
  background: black;
  padding: 20px;
  font-size: 120px;
}

.text4 {
  position: absolute;
  color: white;
  font-family: 'Antonio', sans-serif;
  background: black;
  padding: 20px;
  font-size: 120px;
}


.text5 {
  position: absolute;
  color: white;
  font-family: 'Gravitas One', cursive;
  background: black;
  padding: 20px;
  font-size: 40px;
}


.text6 {
  position: absolute;
  color: white;
  font-family: 'Lexend Mega', sans-serif;
  background: black;
  padding: 20px;
  font-size: 120px;
}

.text7 {
  position: absolute;
  color: white;
  font-family: 'Megrim', cursive;
  background: black;
  padding: 20px;
  font-size: 120px;
}

.text8 {
  position: absolute;
  color: white;
  font-family: 'Mochiy Pop P One', sans-serif;
  background: black;
  padding: 20px;
  font-size: 100px;
}

.text9 {
  position: absolute;
  color: white;
  font-family: 'Monoton', cursive;
  background: black;
  padding: 20px;
  font-size: 80px;
}

.text10 {
  position: absolute;
  color: white;
  font-family: 'Nova Cut', cursive;
  background: black;
  padding: 20px;
  font-size: 100px;
}

.text11 {
  position: absolute;
  color: white;
  font-family: 'Sonsie One', cursive;
  background: black;
  padding: 20px;
  font-size: 60px;
}













