.container {
	height: 100vh;
	background: lightgrey;
}

.flexbox{
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	position: absolute;
	color: white;
	font-size: 120px;
	font-family: 'Bangers', cursive;
	
}

.title-background {
	width: 100%;
	object-fit: cover;
	height: 100%;
}

